@media (min-width: 310px) and (max-width: 1300px) {
  .header {
    padding: 0 2%;
    height: 57px;
    &__text {
      width: 270px;
      height: 31px;
    }
  }
  
  .main-block {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .main-block__pop-up{
    margin:0;
  }
  .main-block-item{
    flex-direction: column;
    display:flex;
  }
  body{
    background-color: #6ed16a;
  }
  
  .main-block__pop-up{
    width: 90%;
    margin-top:40px;
    margin-bottom:40px;
  }
}
