.b-popup2
        a(href="javascript:PopUpHide2()").b-popup__close
            img(src="images/close_icon.svg", alt="").b-popup2__img-close
        img(src="images/envelope.svg").b-popup2__img
        .b-popup2__header Thank you!
        .b-popup2__description Please check your email
        a.b-popup2__button(href="javascript:PopUpHide2()") Ok, tnx 