.header(class="animated bounce delay-2s")
    .header__text Lorem ipsum dolor sit amet donec voluptatem ipsum dolor sit amet donec voluptatem
    button.header__button
        img.header__button-close(src="images/close_icon.svg")